<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="robots" content="index,follow" />
<!-- МЕТА-Данные -->
    <title>{{ title }}</title>
    <meta name="description"
        content='{{ description }}' />



<!-- Open Graph -->
    <meta property="og:site_name" content="WebCanape — решения для бизнеса" />
    <meta property="og:url" content="/" />
    <meta property="og:type" content="website" />
    <meta property="og:title"
        content='{{ title }}' />
    <meta property="og:description"
        content="{{ description }}" />
    



<!-- Шаблонные -->
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link rel="shortcut icon" href="/favicon.ico" type="image/png" />
    <link rel="preload" href="/fonts/OpenSansRegular/OpenSans-Regular-with-ruble.woff2" as="font"
        crossorigin="anonymous">
    <link rel="preload" href="/fonts/Raleway/RalewayRegular/Raleway-Regular.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/fonts/OpenSansBold/OpenSans-Bold-with-ruble.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/fonts/Raleway/RalewayBold/Raleway-Bold.woff2" as="font" crossorigin="anonymous">
    



    
<!-- CSS -->
    {{!-- <link href="/assets/compile/d445f6f869ac51389fb372eee790c851.css" rel="stylesheet"> --}}
    <link href="/assets/compile/style1.css" rel="stylesheet">
    {{!-- <link href="/assets/compile/style2.css" rel="stylesheet"> --}}
    {{!-- <link href="/assets/compile/style3.css" rel="stylesheet"> --}}
    <link href="/assets/compile/style4.css" rel="stylesheet">
    <link href="/assets/compile/style5.css" rel="stylesheet">
    <link href="/assets/compile/style6.css" rel="stylesheet">
    {{!-- <link href="/assets/compile/style7.css" rel="stylesheet"> --}}
    {{!-- <link href="/assets/compile/style8.css" rel="stylesheet"> --}}
    <link href="/assets/compile/style9.css" rel="stylesheet">
    {{!-- <link href="/assets/compile/style10.css" rel="stylesheet"> --}}
    {{!-- <link href="/assets/compile/style11.css" rel="stylesheet"> --}}
    {{!-- <link href="/assets/compile/style12.css" rel="stylesheet"> --}}
    {{!-- <link href="/assets/compile/style13.css" rel="stylesheet"> --}}
    {{!-- <link href="/assets/compile/style14.css" rel="stylesheet"> --}}
    <link href="/assets/compile/style15.css" rel="stylesheet">
    <link href="/assets/compile/style16.css" rel="stylesheet">
    <link href="/assets/compile/style17.css" rel="stylesheet">
    <link href="/assets/compile/style18.css" rel="stylesheet">
    <link href="/assets/compile/style19.css" rel="stylesheet">
    {{!-- <link href="/assets/compile/style20.css" rel="stylesheet"> --}}
    <link href="/assets/compile/style21.css" rel="stylesheet">
    <link href="/assets/compile/style22.css" rel="stylesheet">
    <link href="/assets/compile/style23.css" rel="stylesheet">
    <link href="/assets/compile/style24.css" rel="stylesheet">
    {{!-- <link href="/assets/compile/style25.css" rel="stylesheet"> --}}

    <link href="/style.css" rel="stylesheet">

</head>

<body class="g-main" sktag="page">
    <div class="l-site_wrap js-body">
        <div class="l-site js-site">
            <div class="b-scrolltop js-scrolltop"></div>

            {{> header-menu}}
             <div class="container">
                <div class="b-title b-title--2">
                    <h1>{{ h1 }}</h1>
                </div>
            </div> 
            

             {{!-- <div class="b-bannercenter" sklabel="bannerContentTop">
                <div class="container-full container-nopad">
                    <div class="b-steps">
                        <div class="container">
                            <div class="grid__row">
                                <div class="col-1-1">
                                    <h1>Разработка и продвижение сайтов<br /> с гарантией результата</h1>
                                </div>
                                <div class="col-4-12">
                                    <div class="steps__item">
                                        <div class="steps__item-inner">
                                            <div class="steps__content">
                                                <div class="steps__title"><a href="/razrabotka-sajta/">Разработка</a>
                                                </div>
                                                <div class="steps__subtitle">Качественный сайт<br /> по
                                                    <span>оптимальной цене</span></div>
                                                <div class="steps__info">
                                                    <p>Разрабатываем сайты, которые решают бизнес-задачи. За 14 лет нами
                                                        создано 2500+ проектов для компаний из 65 отраслей.</p>
                                                    <p>Возвращаем деньги если нарушим сроки.</p>
                                                </div>
                                            </div>
                                            <div class="steps__bottom">
                                                <!-- <div class="steps__price"> от&nbsp;<span class="steps__price-value">125 000&nbsp;₽</span> </div> -->
                                                <div class="steps__btn"><a href="/razrabotka-sajta/">подробнее</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4-12">
                                    <div class="steps__item">
                                        <div class="steps__item-inner">
                                            <div class="steps__content">
                                                <div class="steps__title"><a
                                                        href="/prodvizhenie-sajtov/seo/">Продвижение</a></div>
                                                <div class="steps__subtitle">Улучшение позиций сайта<br /> за <span>4
                                                        месяца</span></div>
                                                <div class="steps__info">
                                                    <p>Продвигаем сайты в поисковых системах. 1000 успешных проектов.
                                                    </p>
                                                    <p>Если не будет результатов &mdash; заплатим вам за невыполненные
                                                        обязательства.</p>
                                                </div>
                                            </div>
                                            <div class="steps__bottom">
                                                <!-- <div class="steps__price"> от<span class="steps__price-value">&nbsp;50 000&nbsp;₽</span >&nbsp;/ месяц </div> -->
                                                <div class="steps__btn"><a href="/prodvizhenie-sajtov/seo/">все
                                                        тарифы</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4-12">
                                    <div class="steps__item steps__item-2">
                                        <div class="steps__item-inner">
                                            <div class="steps__content">
                                                <div class="steps__title"><a
                                                        href="/reklama/kontekstnaya-reklama/">Интернет-реклама</a></div>
                                                <div class="steps__subtitle">Стабильный поток лидов<br /> через <span>7
                                                        дней</span></div>
                                                <div class="steps__info">
                                                    <p>Мы партнер по рекламе Яндекса с 2012 года. Запускаем
                                                        интернет-рекламу, вовлекаем клиентов в воронку продаж.</p>
                                                    <p>Фиксируем гарантии и KPI в договоре.</p>
                                                </div>
                                            </div>
                                            <div class="steps__bottom">
                                                <!-- <div class="steps__price"> от <span class="steps__price-value">30 000&nbsp;₽</span>&nbsp;/ месяц </div> -->
                                                <div class="steps__btn"><a href="/reklama/kontekstnaya-reklama/">все
                                                        тарифы</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="steps__benefits hide-on-mobile">
                                <div class="grid__row">
                                    <div class="col-1-1">
                                        <div class="steps__benefits-item">Топ-100 лучших<br /> студий Рунета</div>
                                        <div class="steps__benefits-item">Топ-5 по количеству<br /> проектов для
                                            малого<br /> бизнеса</div>
                                        <div class="steps__benefits-item hide-on-tablet hide-on-mobile">Топ-50
                                            агентств<br /> контекстной рекламы</div>
                                        <div class="steps__benefits-item">Топ-100 лучших<br /> SEO-компаний</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  --}}



            <div class="b-solution-fancy b-solution-fancy_det">
                {{{body}}}
            </div>
            {{> footer-form}}
            {{> footer-sertificats}}
            {{> footer-menu}}

        </div>
        <div class="l-sidebar js-sidebar js-sidebar-hide"></div>
        <div class="l-sidebar_inner js-sidebar-inner">
            <div class="b-sidebar">
                <div class="sidebar__close js-sidebar-hide"> <img src="/files/110/sidebar-close.png" alt="" /> </div>
                <div class="sidebar__item sidebar__contacts">
                    <div class="b-head-contacts">
                        <div class="head-contacts__phone"><a href="tel:88002009460">8-800-200-94-60</a></div>
                        <noindex>
                            <div class="head-contacts__email"><a href="mailto:rop@web-canape.com">rop@web-canape.ru</a>
                            </div>
                        </noindex>
                    </div>
                </div>
                <div class="sidebar__item sidebar__menu">
                    <ul>
                        <li><a href="/razrabotka-sajta/"><span> <img src="/files/293/icon-menu-10.png" alt="" />
                                </span>Сайты</a></li>
                        <li><a href="/prodvizhenie-sajtov/"><span> <img src="/files/366/icon-menu-20.png" alt="" />
                                </span>Продвижение</a></li>
                        <li><a href="/reklama/"><span> <img src="/files/491/ads-icon.png" alt="" /> </span>Реклама</a>
                        </li>
                        <li><a href="/sluzhba-podderzhki/support/"><span> <img src="/files/110/icon-mini-support.png"
                                        alt="" /> </span>Поддержка</a></li>
                    </ul>
                </div>
                <div class="sidebar__item sidebar__menu">
                    <ul>
                        <li><a href="/akcii/"><span> <img src="/files/329/icon-menu-50.png" alt="" /> </span>Акции</a>
                        </li>
                    </ul>
                </div>
                <div class="sidebar__item sidebar__menu">
                    <ul>
                        <li><a href="/razvitie-sajta/razrabotka/"><span> <img src="/files/295/icon-menu-30.png"
                                        alt="" /> </span>Цены</a></li>
                        <li><a href="/portfolio/"><span> <img src="/files/320/icon-menu-9.png" alt="" />
                                </span>Портфолио</a></li>
                        <li><a href="/keisi/"><span> <img src="/files/327/icon-menu-12.png" alt="" /> </span>Кейсы</a>
                        </li>
                        <li><a href="/thanks/"><span> <img src="/files/234/icon-menu-10.png" alt="" /> </span>Отзывы</a>
                        </li>
                        <li><a href="/contacts/"><span> <img src="/files/233/icon-menu-11.png" alt="" />
                                </span>Контакты</a></li>
                        <li><a target="_blank" href="https://job.web-canape.ru/"><span> <img
                                        src="/files/620/vakansii.png" alt="" /> </span>Вакансии</a></li>
                    </ul>
                </div>
                <div class="sidebar__item">
                    <p class="pilot__icons hide-on-tablet hide-on-mobile"><a href="/sluzhba-podderzhki/support/"><img
                                src="/files/110/icon-phone2.png" /> Служба поддержки</a></p>
                    <div class="sidebar__menu sidebar__menu--contact hide-on-desktop show-on-tablet show-on-mobile">
                        <ul>
                            <li><a href="/about/"><span><img src="/files/110/icon-50-1.png" /> </span>О компании</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sidebar__item">
                    <p class="pilot__btn hide-on-mobile"><a ajaxform="1" class="header_button callback"
                            formname="service_order_popup" href="#" js_max_width="1150">Заказать услуги</a></p>
                    <p class="pilot__btn hide-on-desktop hide-on-tablet"><a class="header_button js-sidebar-link"
                            href="/contacts/#form_e94025029faf1bf94c3d7bb863c083b2">Заказать услуги</a></p>
                </div>
            </div>
        </div>
    </div>
    {{> whatsapp}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/javascript.js"></script>
</body>

</html>